body {
    background-color: aquamarine;
    text-align: center;
}

header {
    height: 150px;
    font-size: 30px;
    color: red;
    padding-top: 20px;
    font-family: 'Mountains of Christmas', cursive;
}

div {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 5px;
}

ul li {
    list-style-type: none;
    color: blue;
    font-size: 20px;
    font-family: 'Mountains of Christmas', cursive;
}

h4 {
    color: red;
}