body {
    background-color: aquamarine;
    text-align: center;
}

header {
    height: 150px;
    font-size: 30px;
    color: red;
    padding-top: 20px;
}

div {
    width: 200px;
    margin: 0 auto; 
}